html, body {
    width:100%;
    height:100%;

    background-color:lightseagreen;
    
}


div { 
    width:400px;
    height:300px;
}
img {
    width:100%;
}
h1 {
    text-align:center;
    font-family:Arial;
    font-size:80px;
    color:red;
}
h2 {
    font-family:Airal;
    font-size:30px;    
}
a {
    font-family:Arial;
    font-size:20px;
    text-decoration:none;
    color:blue;    
}
nav {
    width:100%;
    height:60px;
    background-color:yellow;
    
}
ul{
    background-color:black;
    
}

li {    
    display:block;
    float:left;
    text-align:center;
    line-height:50px;
    width:20%;
}
section {
    height:500px;
    width:80%;

    im :center;
    background-color:purple;
    opacity:0.5;

}